<h1>My Messages</h1>

<% @messages.each do |message| %>
  <ul>
    <li> <%= message.text %>  </li>
  </ul>

  <form action="/booking/pendingbooking" method="get">
    <input type="submit" name="view pending bookings" value="view pending bookings">
  </form>
<% end %>
