<form action="/spaces/new" method="get">
  <input type="submit" name="Add new space" value="Add new space">
</form>

<form  action="/spaces/update" method="get">
  <input type="submit" name="Update my spaces" value="Update my spaces">
</form>
