<form action="/booking/new" method="post">
  <input type="hidden" name="space_id" value="<%= @space_id %>">
  From <input type="date" name="space_available_from" value="<%= @space_available_from %>">
  To <input type="date" name="available_to">
  <input type="submit" value="Make a booking">
</form>
