<h1>Booking rejected - I guess they were weird!</h1>

<form action='/booking/pendingbooking' method="get">
  <input type="submit" name="Go back to list of pending bookings" value="Go back to list of pending bookings">
</form>

<form action='/booking/approvedbooking' method="get">
  <input type="submit" name="View list of approved bookings" value="View list of approved bookings">
</form>
