<form action="/login" method="get">
  <input type="submit" name="Login" value="Login">
</form>


<h2>Sign up to MakersBnb</h2><br>
<form action="/signup" method="post">
  <input type="text" name="username" value="username">
  <input type="text" name="email" value="email">
  <input type="text" name="contact_number" value="contact_number">
  <input type="text" name="full_name" value="full_name">
  <input type="password" name="password" value="password">
  <input type="submit" name="Sign up" value="Sign up">
</form>
