
<form action="/logout" method="get">
  <input type="submit" name="Logout" value="Logout">
</form>

<form action="/spaces/show" method="get">
  <input type="submit" name="Rent" value="Rent">
</form>

<form action="/host" method="get">
  <input type="submit" name="Host" value="Host">
</form>
